:root {
  /* Colour styles */
  --background: #e5dcd7;
  --buttons: #f4eddc;
  --text_off_white: #e4dfd8;
  --text_yellow: #ffb44a;
  --box_one: #645243;
  --box_two: #6c6145;
  --box_three: #765825;
  --footer: #483626;
  --trefork: #e5c8a1;
  /* Font sizes */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "studio6extrabold";
  src: url("/fonts/studio6-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "margaretbold";
  src: url("/fonts/margaret-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 5cqw;
  color: var(--text_off_white);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "margaretbold";
  color: var(--text_off_white);
}
a,
li,
ul {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  width: 100%;
  background-image: url(/pic/background.webp);
  background-size: cover;
  /* background-attachment: fixed; */
}

@media (min-width: 900px) {
  p {
    font-size: 1.5cqw;
  }
}
