---
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout>
<div class="cover">
	<h1>UNIKA KERAMIK MED HJERTE</h1>
	<div>
	<img src="#" alt="Trefork logo">
	<h2>ByHandAndHeart</h2>
	</div>
</div>

<div>
	<h2>Mine kurser</h2>
	<p>Skulle du have specielle ønsker til kurser eller arrangementer, er du meget velkommen til at kontakte mig på mail eller telefon</p>
</div>

<div class="kurserne">
	<div>
		<h3>Kursus</h3>
		<p>Pris</p>
	</div>
	<div>
		<h3>Nyhed</h3>
		<a href="#">Bestil tid</a>
	</div>
</div>

<div class="shoppen">
	<h2>Udforsk shoppen</h2>
	<div>
		<!-- Billeder fra shoppen -->
		<a href="#">Gå til shoppen</a>
	</div>
</div>

</Mainlayout>
