---
import "../styles/style.css";
import Mainlayout from "../layouts/Mainlayout.astro";
import Banner from "../components/Banner.astro"
import MineKurser from "../components/MineKurser.astro"
---

<Mainlayout>
<Banner />
<MineKurser />

<div class="shoppen">
	<h2>Udforsk shoppen</h2>
	<div>
		<!-- Billeder fra shoppen -->
		<a href="#">Gå til shoppen</a>
	</div>
</div>

</Mainlayout>
