---
import "../styles/style.css";
---

<section class="cover">
	<h1>UNIKA <br> KERAMIK <br> MED <br> HJERTE</h1>
	<div class="text">
	<img src="/logos/logo_trident.svg" alt="Trefork logo">
	<h2>ByHandAndHeart</h2>
	</div>
</section>


<style>
section{
    background-image: url(/pic/banner_mobil.webp);
    background-size: cover;
    height: 500px;
    width: auto;
    overflow: hidden;
}
h1{
    font-family: "studio6extrabold";
    color: var(--text_yellow);
    font-size: 7cqw;
    margin: 28% 0% 0% 2%;
    letter-spacing: 1.5rem;
    line-height: 57px;
}

h2{
    font-size: 7cqw;
    letter-spacing: 0.2rem;
    filter: drop-shadow(4px 4px 3px #00000069);
}

img{
    height: 100px;
    width: 69px;
    filter: drop-shadow(6px 4px 5px #00000069);
}

.text{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 10% 1% 0% 3%;
}

@media (min-width: 900px) {
section{
    background-image: url(/pic/banner.webp);
    background-size: cover;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 4cqw;
    margin: 6% 0% 0% 2%;
    letter-spacing: 5rem;
    line-height: 85px;
}

h2{
    font-size: 3.8cqw;
    letter-spacing: 0.5rem;
}

img{
    height: 180px;
    width: auto;
}

.text{
    margin: 1.5% 1% 0% 2%;
}}
</style>