---

---

<div class="button">
	<a href="/kurser">Bestil tid</a>
</div>

<style>
.button{
    background-color: var(--buttons);
    font-family: "margaretbold";
    font-size: 7cqw;
    text-align: center;
    width: 170px;
}

a{
    color: black;
}
</style>