---
import "../styles/style.css";
---

<div>
    <a href="/kurser">Bestil tid</a>
</div>

<style>

div{
    display: flex;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 25%;
    width: 170px;
}

a{
    font-family: "margaretbold";
    color: black;
    font-size: 5cqw;
    background-color: var(--buttons);
    padding: 5% 25% 5% 25%;
}

@media (min-width: 900px) {
div{
    width: 200px;
}
a{
    font-size: 1.55cqw;
    padding: 5% 25% 5% 25%;
}
}

</style>