---
import "../styles/style.css";
---

<footer>
    <div>
        <h3>KATEGORIER</h3>
        <p>Keramikkurser</p>
        <p>Vaser</p>
        <p>Krus</p>
        <p>Skåle</p>
        <p>Kander</p>
        <p>Se andet</p>
    </div>
    <div>
        <h3>KONTAKT</h3>
        <p>Telefon: +45 25 391 391</p>
        <p>Email: contact.byhandandheart.dk</p>
        <p>CVR: 31247837</p>
        <p>Bank: Sydbank 6748 1196177</p>
    </div>
</div>
<div>
    <h3>ADRESSE</h3>
    <p>Hovedgaden 2-4 2. sal</p>
    <p>3460 Birkerød</p>
</div>
<div>
    <div class="socials">
        <h3>BYHANDANDHEART</h3>
        <h3>SOCIALE</h3>
        <a href="https://www.instagram.com/UXCopenhagen/"><img src="/logos/instagram.svg" alt="instagram"></a>
        <a href="https://www.facebook.com/uxcopenhagen"><img src="/logos/facebook.svg" alt="facebook"></a>
    </div>
    <img src="/logos/logo_hand.svg" alt="By Hand and Heart logo">
</footer>


<style>
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer);
  padding: 2rem 0px 2rem 0px;
  margin: 0px;
  gap: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.div 

@media (max-width: 900px){

}
</style>