---
import "../styles/style.css";
---
<img src="" alt="">
<p>Mit navn er Helle Hegner og jeg har altid elsket at arbejde med mine hænder, og fordybe mig i materialer og form. Jeg er oprindeligt uddannet grafisk designer fra Danmarks Designskole. Jeg arbejdede i den grafiske branche i så mange år, at jeg begyndte at ryge ud af ørene, så jeg valgte at sige mit job op og blive selvstændig.</p>