---
import "../styles/style.css";
---
<p>Logoet “Treforken”
Du kan altid kende min keramik på den lille trefork logo der er under alle mine produkter. <br>

På den måde er du sikker på der er tale om en original Helle Hegner</p>
	<img class="logo_svg" src="/logos/logo_trident.svg" alt="Trefork logo">


<style>
p{
    margin: 5%;
}
img{
    width: 50%;
display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>