---
import "../styles/style.css";
---
<div class="grid_1-1">
    <div class="text">
<p>Logoet “Treforken”
Du kan altid kende min keramik på den lille trefork logo der er under alle mine produkter. <br>

På den måde er du sikker på der er tale om en original Helle Hegner</p>
</div>
<div class="order">
	<img class="logo_svg" src="/logos/logo_trident.svg" alt="Trefork logo">
    </div>
</div>

<style>
p{
    margin: 5%;
   background-color:#BD9F6C ; 
   padding: 5%;
}
img{
    width: 50%;
display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 900px) {
      .grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
      }
      img{
    width: 40%;
    opacity: 70%;
}
.order{
    order: -1;
}
.text{
    margin-top: 15%;
}
}
</style>