---
import "../styles/style.css";
---
<section>

<div class="grid_1-1">
    <div class="text">
<p>Mit navn er Helle Hegner og jeg har altid elsket at arbejde med mine hænder, og fordybe mig i materialer og form. Jeg er oprindeligt uddannet grafisk designer fra Danmarks Designskole. Jeg arbejdede i den grafiske branche i så mange år, at jeg begyndte at ryge ud af ørene, så jeg valgte at sige mit job op og blive selvstændig. Jeg har arbejdet med keramik i snart 15 år, og haft eget værksted de sidste 9 år.</p>
</div>
<div class="order">
<img src="/pic/HelleHegner2.webp" alt="Helle">
</div>
</div>
</section>


<style>
p{
    margin: 5%;
    background-color: #6C6145;
    padding: 5%;
}
img{
    width: 75%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 900px) {
section{
    margin-top: 10%;
    
}
.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.order{
    order: -1;
}
img{
    width: 60%;
}
.text{
    margin-top: 15%;
}
}

</style>