---
import "../styles/style.css";
---
<div class="grid_1-1">
    <div class="text">
<p>Når jeg selv laver kramik er det primært på drejeskiven. At dreje er for mig ren meditation, en process, der kræver fuld fokus, men også en process hvori lerets og grænser kan afprøves.</p>
<p>Mine ting bliver primært brændt i brændefyrede sodaovne, en sej og tidskrævende process, så ind i mellem kommer der også glaserede ting ud af min elovn. De fleste af de glasurer jeg bruger, laver jeg selv.</p>
</div>
<div>
<picture>
    <source srcset="/pic/HelleHegner3.webp" media="(min-width: 900px)">
    <img src="/pic/HelleHegner3-mb.webp" alt="Helle Hegner igen" width="293" height="387" loading="lazy" decoding="async">
</picture>
</div>
</div>

<style>
.text{
    background-color: var(--box_three);
    margin: 5% 6% 5% 6%;
    padding: 5%;
    filter: drop-shadow(6px 4px 5px #00000069);

}
p{
    margin: 6% 0% 0% 1%;
    line-height: 27px;
}
p:last-child {
margin-bottom: 6%;
}
img{
    width: 292px;
    height: 438px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(6px 4px 5px #00000069);
}

@media (min-width: 900px) {
.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4%;
}
img{
    width: 60%;
    height: auto;
    margin-left: 3%;
}
.text{
    margin: 0% 10% 0% 13%;
    padding: 5%;
}
p{
    margin: 6% 0% 0% 2%;
    line-height: 30px;
}
}
</style>