---
import "../styles/style.css";
---
<div class="grid_1-1">
    <div class="text">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt ipsa nulla, praesentium perspiciatis dicta, ut voluptas hic quas accusantium debitis ipsam, velit expedita quasi? Veritatis vero dignissimos quisquam omnis aut!</p>
</div>
<div>
<img src="/pic/HelleHegner3.webp" alt="Helle">
</div>
</div>

<style>
.text{
    background-color: var(--box_three);
    margin: 5% 6% 5% 6%;
    padding: 5%;
}
p{
    margin: 6% 0% 0% 1%;
}
p:last-child {
margin-bottom: 6%;
}
img{
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 900px) {
.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4%;
}
img{
    width: 60%;
    height: auto;
    margin-left: 3%;
}
.text{
    margin: 0% 10% 0% 13%;
    padding: 5%;
}
p{
    margin: 6% 0% 0% 2%;
    line-height: 30px;
}
}
</style>