---
import "../styles/style.css";
---

<div class="kurserne">
	<div class="top">
		<h3>Lav din egen kop</h3>
		<p>Pris: 850 kr</p>
	</div>
	<div class="bottom">
        <img src="/pic/kursus_kop.webp" alt="Lav din egen kop kursus">
	</div>
</div>
<style>

.top{
    width: 250px;
    height: 170px;
    background-color: var(--box_two);
    padding: 6% 0% 0% 5%;
}
h3{
    font-family: "margaretbold";
    color: var(--text_off_white);
    font-size: 7cqw;
    margin-bottom: 7%;
}
p:before {
    content:"• ";
}
p{
    font-family: "Lato", sans-serif;
    color: var(--text_off_white);
    font-size: 5cqw;
    text-decoration: dotted;
}
img{
    background-size: cover;
    width: 250px;
    height: 280px;
    z-index: -1;
    position: relative;
    }
.button{
    z-index: 1;
    background-color: var(--buttons);
    font-family: "margaretbold";
    font-size: 7cqw;

}
@media (min-width: 900px) {
.top {
    width: 350px;
    padding: 6% 0% 0% 5%;
}
img{
    background-size: cover;
    width: 350px;
    height: 350px;
    }
h3{
    font-size: 2cqw;
}

p{
    font-size: 1.5cqw;
}
}
}
</style>