---

---

<section>
    <h1>Keramik kurser</h1>
    <p>Kom til kursus i mit værksted i Værløse. Alle priserne er inklusiv alle materiale, brænding, kaffe/the og snacks.</p>
    <p>Jeg tilbyder individuelle kurser på mit værksted efter aftale, så skriv endelig en mail til mig hvis det er noget du ønsker.</p>
</section>

<style>
    
</style>