---
import "../styles/style.css";
---

<section>
    <h1>Keramik kurser</h1>
    <p>Kom til kursus i mit værksted i Værløse. Alle priserne er inklusiv alle materiale, brænding, kaffe/the og snacks.</p>
    <p>Jeg tilbyder individuelle kurser på mit værksted efter aftale, så skriv endelig en mail til mig hvis det er noget du ønsker.</p>
</section>

<style>
h1{
    font-size: 10cqw;
    margin-top: 100px;
    padding: 0% 3% 0% 3%;
}
p{
    padding: 3% 3% 3% 3%;
}

@media (min-width: 900px) {
h1 {
font-size: 6cqw;
}
p{
    padding: 1% 4% 0% 3%;
}

p:last-child{
    padding-bottom: 3%;
}

}
</style>