---
import "../styles/style.css";
import Button from "./Button.astro";
const {variant, kursus, pris, imgPath } = Astro.props;
---
<div class="kurserne">
	<div data-variant={variant} class="top">
		<h3>{kursus}</h3>
		<p>{pris}</p>
	</div>
	<div class="bottom">
        <div>
            <Button
            variant="one"
            text="Bestil tid"
            linkto="/kurser"
            />
        </div>
        <img src={imgPath} alt="Kursus billeder">
	</div>
</div>

<style>
.kurserne{
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(4px 2px 5px #00000069);
}
.top{
    width: 300px;
    height: 170px;
    padding: 6% 0% 0% 5%;
}
h3{
    font-size: 8cqw;
    margin-bottom: 7%;
}
p:before {
    content:"• ";
}
p{
    font-size: 5cqw;
}
img{
    background-size: cover;
    width: 300px;
    z-index: -1;
    }
.bottom{
    position: relative;
    margin-bottom: 10%;
}
[data-variant="one"]{
    background-color: var(--box_one);
}
[data-variant="two"]{
    background-color: var(--box_two);
 
}
[data-variant="three"]{
    background-color: var(--box_three);
}
@media (min-width: 900px) {
.kurserne{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.bottom{
    margin-bottom: 0;
}
.top {
    width: 350px;
    padding: 6% 0% 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
img{
    background-size: cover;
    width: 350px;
    height: 350px;
    }
h3{
    font-size: 1.8cqw;
}

p{
    font-size: 1.5cqw;}
}
</style>