---
import "../styles/style.css";
---

<section>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <h2>Modellerings- og pladeteknikkurser</h2>
        <h3>2 mødegange af 4 og 3 timer</h3>
        <p>Det er også muligt at bruge drejeskiven, men jeg tilbyder ingen undervisning i dette på disse kurser.</p>
        <p>Priserne er inklusiv alle materiale, brænding, kaffe/the og snacks.</p>
        <div>
            <h4>Pris ved min 3 deltagere</h4>
            <h4>975 kr.</h4>
        </div>
    </div>
</section>