---
import "../styles/style.css";
import KursusDrej from "./KursusDrej.astro";
import KursusKop from "./KursusKop.astro";
import KursusPlade from "./KursusPlade.astro";
---

<section>
	<h2>Mine kurser</h2>
	<p>Skulle du have specielle ønsker til kurser eller arrangementer, er du meget velkommen til at kontakte mig på mail eller telefon</p>
</section>
<section class="courses">
<KursusDrej />
<KursusKop />
<KursusPlade />
</section>
<style>

section{
    margin: 5% 0% 5% 3%;
}
h2{
    font-size: 10cqw;
}
.courses{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 900px) {
h2{
    font-size: 5rem;
}
p{
    width: 1155px;
}
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}
</style>