---
import "../styles/style.css";
---

<section>
	<h2>Mine kurser</h2>
	<p>Skulle du have specielle ønsker til kurser eller arrangementer, er du meget velkommen til at kontakte mig på mail eller telefon</p>
</section>

<div class="kurserne">
	<div>
		<h3>Kursus</h3>
		<p>Pris</p>
	</div>
	<div>
		<h3>Nyhed</h3>
		<a href="#">Bestil tid</a>
	</div>
</div>

<style>
    h2{

    }

    @media (min-width: 900px) {
    }
</style>