---
import "../styles/style.css";
---

<section>
<h1>Unika Keramik af <br>Helle Hegner</h1>
<p>Velkommen til min shop hvor du kan købe en stor del af det keramik jeg har lavet. Leder du efter noget specifikt så send mig endelig en besked. Jeg har masser af ting liggende og har også tidligere lavet bestillingsarbejde.</p>
<p>Jeg arbejder primært med drejet stentøj, men ind imellem vil du også kunne finde større modelleringsarbejde. Langt det meste af det jeg sælger er brændt i en soda ovn og derfor er der ikke to ting der er ens grundet den unikke kemiske process der går igang i sådan en ovn.
</p>
</section>

<style>

h1{
    font-size: 10cqw;
    margin-top: 100px;
    padding: 0% 3% 0% 3%;

}

p{
    padding: 3%;
}

@media (min-width: 900px) {
h1 {
font-size: 6cqw;
}
p{
    padding: 1% 4% 1% 3%;
}

p:last-child{
    padding-bottom: 3%;
}

}
</style>