---
import "../styles/style.css";
import Udforskshoppen from "./Udforskshoppen.astro";
---

<h2>Udforsk mit seneste keramik</h2>
<p>Se mere af min unikke keramik på shoppen</p>
<Udforskshoppen />


<style>
h2{
    font-size: 10cqw;
    padding: 0% 3% 0% 3%;
}

p{
    padding: 1% 0% 2% 3%;
}
@media (min-width: 900px) {
h2{
    font-size: 5rem;
    margin: 4% 0% 0% 3%;
}

p{
    width: 1155px;
    font-size: 1.5cqw;
    padding: 0% 3% 0% 3%;
}
}
</style>