---
import "../styles/style.css";
import Button from "./Button.astro";
---
<section class="udforsk">
<div class="container">
    <Button
        variant="two"
        text="Gå til shop"
        linkto="/produkter"
    />
<div class="grid_1-13">
    <div class="venstre">
    <img class="hide order" src="/pic/GL3.webp" alt="">
        <div class="grid_1-12">
            <img src="/pic/GL4.webp" alt="">
            <img src="/pic/GL1.webp" alt="">
        </div>
    </div>
    <div class="hojre">
        <div class="grid_1-12">
            <img src="/pic/GL5.webp" alt="">
            <img src="/pic/GL2.webp" alt="">
        </div>
        <img class="hide" src="/pic/GL6.webp" alt="">
    </div>
</div>
</div>
 
    
</section>


<style>
img{
    width: 100%;
    height: auto;
}
.container{
    position: relative;
}
.udforsk{
    margin: 2% 5% 5% 5%;
}

@media (min-width: 900px) {
.order{
    margin-bottom: 1%;
}

.grid_1-13{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}
.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
.grid_1-12{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    margin-bottom: 1.6%;
}

}
@media (max-width: 900px) {
.hide{
    display: none;
}
.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    margin: 2%;
}
.grid_1-12{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2%;
    margin-top: 2%;
        margin: 2%;
}

img{
    width: 165px;
    height: auto;
}
button{
    bottom: 200px;
    right: -55px;
    padding: 5%;
    font-size: 3cqw;
}
}
</style>
